<div class="container py-3">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img alt="logo" src="../favicon.ico">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-secondary">Accueil</a></li>
      <li><a routerLink="users" class="nav-link px-2 link-dark">Utilisateurs</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a routerLink="auth" class="btn btn-outline-primary me-2">Login</a>
      <a routerLink="auth" class="btn btn-primary">Sign-up</a>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>